$env:CALCULATIETOOL_BACKEND_STORAGE_PROVIDER = "postgres"
$env:CALCULATIETOOL_POSTGRES_HOST = "10.10.1.10"
$env:CALCULATIETOOL_POSTGRES_PORT = "5432"
$env:CALCULATIETOOL_POSTGRES_DB = "calculatietool"
$env:CALCULATIETOOL_POSTGRES_USER = "calculatietool_app"
$env:CALCULATIETOOL_POSTGRES_PASSWORD = "VUL_HIER_JE_WACHTWOORD_IN"
$env:CALCULATIETOOL_AUTH_ENABLED = "false"
$env:CALCULATIETOOL_AUTH_MODE = "prepared"
