CALCULATIETOOL_BACKEND_STORAGE_PROVIDER=postgres
CALCULATIETOOL_POSTGRES_HOST=10.10.1.10
CALCULATIETOOL_POSTGRES_PORT=5432
CALCULATIETOOL_POSTGRES_DB=calculatietool
CALCULATIETOOL_POSTGRES_USER=calculatietool_app
CALCULATIETOOL_POSTGRES_PASSWORD=VUL_HIER_JE_WACHTWOORD_IN
CALCULATIETOOL_AUTH_ENABLED=false
CALCULATIETOOL_AUTH_MODE=prepared
